.box {
    /* margin, border, padding, and content area */
    padding: 20px; 
    margin: 20px;
    background-color: lightblue; 
    text-align: center; 
    border: 1px solid #db695a; 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
