.first-paragraph {
    font-size: 40px;
}

.second-paragraph {
    font-size: 1.875em;
}

.third-paragraph {
    font-size: 0.875em; 
}

.fourth-paragraph {
    font-size: 1em; 
}

.fifth-paragraph {
    font-size: 2em; 
}