.parent {
    /* Set font-size to 20px */
    width: 60%; 
    padding: 20px; 
    background-color: lightblue; 
    text-align: center; 
    border: 1px solid #000; 
    box-sizing: border-box;
    font-size: 10px;
}

.child {
    /* Set font-size to 1.5em */
    width: 50%; 
    padding: 20px; 
    background-color: lightgreen; 
    text-align: center; 
    border: 1px solid #000; 
    box-sizing: border-box;
    font-size: 1.5em;
}
